header {
  background-image: url('../img/lizzieschwinn.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.nav-link {
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.ng-invalid {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.ad {
  width: 90%;
  background-color: #89ABE3;
  background-opacity: 0.5;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
  margin: 1px;
}
